@media (max-width: 1200px) {
  main {
    section.about {
      padding: var(--spacing-large) 15%;
    }
  }
}

@media (max-width: 870px) {
  header {
    h1 {
      font-size: 4.5rem;
    }
  }

  main {
    section.about, section.contact {
      padding: var(--spacing-large);
    }

    section.contact {
      a {
        font-size: 1.6rem;
      }
    }
  }

  .modal-overlay {
    .modal.modal-info {
      max-width: inherit;
      width: 90%;

      p {
        font-size: 1.2rem;

        &.close-modal {
          font-size: 3rem;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  main {
    section.book {
      padding: var(--spacing-large) var(--spacing);

      .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      }
    }
  }
}
