@import './utils/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: linear-gradient(135deg, #ebebeb, #e9e9e9);
  font-size: 1.4rem;
  color: #181818;
  font-family: sans-serif;
  position: relative;
}

p {
  font-size: 1.6rem;
  margin-bottom: var(--spacing);
}

/* Page header with title, lang select and social links */
header {
  align-items: center;
  background: linear-gradient(60deg, var(--color-bg) 0%, var(--color-bg-darker) 100%);
  border-top: solid 5px var(--color-main);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 16rem;
  position: relative;
  z-index: 1;

  h1 {
    font-family: Tangerine 'Segoe UI', sans-serif;
    font-size: 6rem;
  }

  h2 {
    font-style: italic;
    font-size: 1.66rem;
  }

  nav {
    bottom: 0;
    display: flex;
    position: absolute;
    transform: translateY(50%);
    user-select: none;
    z-index: 2;

    a {
      background-color: var(--color-bg);
      border: solid 1px rgba(0, 0, 0, .2);
      border-left: none;
      color: var(--color-fg);
      cursor: pointer;
      padding: var(--spacing-small) var(--spacing);
      margin: 0;
      text-align: center;
      text-decoration: none;
      user-select: none;
      width: 10rem;

      transition: all var(--transition);

      &:active,
      &:focus,
      &:hover {
        background-color: var(--color-alt-2);
      }

      &:first-child {
        border-left: solid 1px rgba(0, 0, 0, .2);
        border-bottom-left-radius: .5rem;
        border-top-left-radius: .5rem;
      }

      &:last-child {
        border-bottom-right-radius: .5rem;
        border-top-right-radius: .5rem;
      }
    }
  }
}

main {
  height: calc(100% - 16rem);
  width: 100%;
  z-index: 1;

  section {
    width: calc(100% - var(--default-scroll-size));

    h3 {
      font-family: Tangerine 'Segoe UI', sans-serif;
      font-size: 5rem;
      margin-bottom: var(--spacing);
      text-align: center;
    }
  }

  section.image {
    display: flex;

    img {
      width: 100%;
    }
  }

  section.about {
    background: linear-gradient(300deg, var(--color-main-darker) 0%, var(--color-alt-1) 100%);
    padding: var(--spacing-large) 33%;

    p {
      text-align: justify;
      text-indent: var(--spacing);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  section.book {
    background: linear-gradient(60deg, var(--color-bg-darker) 0%, var(--color-bg) 100%);
    padding: var(--spacing-large) var(--spacing-huge);

    .gallery-container {
      display: grid;
      grid-gap: var(--spacing);
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
      grid-auto-flow: dense;
      align-items: stretch;
      justify-items: stretch;

      img {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
        cursor: pointer;
        object-fit: cover;
        max-width: 100%;

        transition: all var(--transition);

        &:active,
        &:focus,
        &:hover {
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, .15);
          transform: scale(1.01);
        }

        &.portrait {
          grid-row: span 2;
        }
      }
    }
  }

  section.contact {
    background: linear-gradient(300deg, var(--color-alt-2) 0%, var(--color-main) 100%);
    border-bottom: solid 5px var(--color-main);
    padding: var(--spacing-large) 33%;
    text-align: center;

    a {
      color: var(--color-main-darker);
      font-size: 2.6rem;
      font-style: italic;
      text-decoration: none;

      transition: all var(--transition);

      &:active,
      &:focus,
      &:hover {
        color: var(--color-main);
      }
    }
    
    .socials-container {
      margin: var(--spacing) 0;
      user-select: none;

      a {
        img {
          user-select: none;
          width: 5rem;
        }
      }
    }

    span {
      color: var(--color-main-darker);
      cursor: pointer;
      font-style: italic;

      &:active,
      &:focus,
      &:hover {
        color: var(--color-main);
      }
    }
  }
}

/* Loader while page is being set */
.loading-overlay {
  background-color: var(--color-bg);
  cursor: progress;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  transition: all var(--transition-long);

  &::before {
    content: '';
    background-color: var(--color-main);
    border-radius: .5rem;
    height: var(--spacing-large);
    left: calc(50% - var(--spacing));
    position: absolute;
    top: 50%;
    width: var(--spacing-large);

    animation: rotate-plane 1.2s infinite ease-in-out;
  }
}

@import 'utils/modal';
@import 'utils/responsive';
